<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show page for admin</title>
</head>
<body>
    <ul>
        <li>Year:<%=admin.year%> </li>
        <li>fees:<%=admin.fees%> </li>
        <li>hubname:<%=admin.hubname%> </li>
        <li>totalSpentOnHub:<%=admin.totalSpentOnHub%> </li>
        <li>Avg. cg:<%=admin.avgcg%> </li>
        <li>Company:<%=admin.company%> </li>
        <li>offer:<%=admin.offer%> </li>
        <li>Placed:<%=admin.placed%> </li>
    </ul>
    <a href="/admins">All data</a>
</body>
</html>